*{
    font-family: "nunito",san-serif;
}
body{
    background-color:aliceblue ;
    height: 100vh;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
.top{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 120px;
}
/* Navbar styling starts here */
.wrapper{
    display: flex;
    justify-content: space-around;
    grap: 1.5rem;
    height: 50px;
    margin-bottom: 200px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}.icon img{
    width: 15rem;
}
.navlinks a{
    justify-content: space-around;
    color: black;
    gap: 1.5rem;
}
.navbotton a{
    background-color: teal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.navbutton a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
/* First Section Styling begin here...... */
.first {
    display: flex;
}
.text{
    padding: 40px;
}
.text h1{
    width: 20rem;
}
.edition{
    font-size: 30px;
}
.text p{
    width: 30rem;
}
.button{
    margin-top: 20px;
    
}
.button a{
    text-decoration: none;
    background-color: teal;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
    margin-right: 20px;
    /* justify-content: left;
    align-items: right;                                                                                                                                                                                                                     m, */
}
.grid {
    max-width: 50%;
}
.grid img{
    width: 30rem;
    height: 100%;
    border-radius: 10px;
}
.container{
    background-color: teal;
}
.thenumbers{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    color: white;
}
.icon{
    margin-left: 30rem;
    color: white;
}
.fourth .meta{
    display: flex;
    /* justify-content: space-between; */
    gap: 15rem;
}
.fourth p{
    font-size: 15px;
    width: 15rem;

}
.fifth{
    margin-left: 20rem;
    margin-top: 7rem;
    line-height: 10rem;
}
.fifth .meta a{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: teal;
    color: white;
    border-radius: 0.5rem;
    margin-left: 12rem;
    font-weight: bolder;
}
.down{
    background-color: white;
}
.last{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
.last ul{
    list-style: none;
    text-align: left;
    padding-left: 3px;
}
.last .dummy{
    line-height: 2rem;
}
.last .dummy a{
    text-decoration: none;
    color: black;
}